.ios-app-release-alert-bar {
    height: 60px;
    background-color: #d6bafb;
    border: none;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    font-weight: 600;
    line-height: 30px;
    align-items: center;
    max-width: 768px;
    margin: auto
}

.ios-app-release-text {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px
}

.ios-app-download-btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.125);
    padding: 3px 8px;
    border-radius: 8px;
}

.ios-app-download-btn {
    padding-left: 5px;
    font-size: 12px;
}

.ios-app-release-bar-delete-btn {
    height: 20px;
    margin-left: 10px
}